* {
  margin: 0;
  padding: 0;

  box-sizing: border-box;
}

.conatiner {
  height: 100vh;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.clock {
  padding: 1rem 1.5rem;
  background-color: rebeccapurple;
  border-radius: 0.3rem;
  -webkit-border-radius: 0.3rem;
  -moz-border-radius: 0.3rem;
  -ms-border-radius: 0.3rem;
  -o-border-radius: 0.3rem;
}
